<% include('layout', { body: null }) %>
<h2>Agregar Contacto</h2>
<form action="/edit/<%= agenda.id %>" method="POST">
  <label>Nombres: <input type="text" name="nombres" required value="<%= agenda.nombres %>"></label>
  <label>Apellidos: <input type="text" name="apellidos" required value="<%= agenda.apellidos %>"></label>
  <label>Direccion: <input type="text" name="direccion" required value="<%= agenda.direccion %>"></label>
  <label>Telefono: <input type="number" name="telefono" required value="<%= agenda.telefono %>"></label>
  <button type="submit">Actualizar</button>
</form>